<div class="container">
  <%= render 'profiles/navigation',  active: {blog: 'active' } %>
  <div class="profile_formular">
    <h1> <%= t 'action.edit_profile' %></h1>
    <%= render 'form' %>
  </div>
  <div class="clear"></div>
</div>