<div class="navigation">
  <div class="block_box navigation_select">
  <h2><%= t('profiles.navigation.title') %></h2>
  <ul>
    <li><%= link_to t('shared.header.shoplist'), shoplist_path(assigned_locale) %></li>
    <li><%= link_to t('shared.header.banners'), banners_path(assigned_locale) %></li>
  </ul>
</div>
</div>