<div class="container">
  <%= render 'navigation',  active: {profile: 'active' } %>
  <div class="profile_formular">
    <h1> <%= t 'action.edit_shop' %></h1>
    <%= render 'form', shop: @shop %>
  </div>
  <div class="clear"></div>
</div>