<p><%= t('.title', username: @user.name)%>
<p><%= t('.commented_on', commenter: @commenter) %></p>
<p><%= link_to t('.view_comment'), collection_url(@locale, @collection) %></p>
<%= render 'users/mailer/footer'%>
