<%= render 'contests/sidebar' %>
<div class="contests">
  <div class="right_side">
    <%= link_to t('.new'), new_contest_path(locale:assigned_locale), class:'button' %>
  </div>
  <% if @contest.present? %>
    <%= render @contest %>
  <% end %>
</div>
<div class="clear"></div>
<% if @contest.present? %>
  <%= render @contest.collections %>
<% end %>
