<%= render 'contests/sidebar' %>
<div class="contests">
  <% if can? :create, Contest %>
    <div class="right_side">
      <%= link_to t('.new'), new_contest_path(locale:assigned_locale), class:'button' %>
    </div>
  <% end %>
  <% if @contest.present? %>
    <%= render @contest %>
  <% end %>
</div>
<div class="clear"></div>
<% if @contest.present? %>
  <%= render @contest.collections %>
<% end %>
