<div class="socialbuttons">
<%- if devise_mapping.omniauthable? %>

  <%- AuthenticationProvider.order(:position).each do |provider| %>
    <%= link_to t('.sign_in_with', provider: "#{provider.name.to_s.titleize.sub("Oauth2", "")}"),omniauth_authorize_path(resource_name, provider.name), class: "socialbutton #{provider.name.to_s}" %>
  <% end -%>
<% end -%>
<div class="clear"></div>
</div>