<% if @scope %>
<div class="block">
  <h3>Scope Konfiguration</h3>
  <ul class="navigation">
    <li><%= link_to t('.affiliate'), backend_scope_affiliates_path(@scope) %></li>
    <li><%= link_to t('.categories'), backend_scope_categories_path(@scope) %></li>
    <li><%= link_to t('.contest'), backend_scope_contests_path(@scope) %></li>
  </ul>
</div>
<% end %>