<div class="banner">
  <%= link_to image_tag(banner.banner), 
              banner_path(assigned_locale, banner), 
              :rel => 'nofollow',
              :target => '_blank' %>
  <div class="preview" ng-controller="FavoriteController">
    <%= render banner.items %>
    <div class="clear"></div>
  </div>
</div>