<div class="selectform" data-placeholder="<%= text_placeholder %>" id="<%= id %>">

  <ul class="selectable">
    <li id="test1">Test</li>
    <li id="test2">Test</li>
    <li id="test3">Test</li>    
    <li id="test4">Test</li>
  </ul>

</div>