<div class="container">

  <div class="trendbox">
    <h2>Die neusten Outfit-Trends</h2>

  </div>

<div class="trendbox" ng-controller="FavoriteController">
    <h2><%= t('.trends_products') %></h2>
    <%= render Product.trends.limit(8) %>
    <div class="clear"></div>
  </div>


</div>