<div class="container" ng-controller="FavoriteController">

  <div class="trendbox">
    <h2><%= t('.trends_outfits') %></h2>
    <%= render @scope.collections.trends.limit(8) %>
    <div class="clear"></div>
  </div>

<div class="trendbox" ng-controller="FavoriteController">
    <h2><%= t('.trends_products') %></h2>
    <%= render @scope.products.trends.limit(8) %>
    <div class="clear"></div>
  </div>


</div>