@import "color";
.banner{
  text-align: center;
  .preview{
    position: relative;
    width:1130px;
    margin:0px auto;
    margin-top:25px;
  }
}

.properties{
  width:1130px;
  margin:0px auto;
  .prop_highlights{
    h2{
      a{
        color: $black;
        text-decoration: none;
      }
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 15px;
    }
    float:left;
    &.collection_property{
      margin:0px 21px;
    }
  } 
  margin-bottom: 25px;
}