@import "color";
@import "bourbon";
body{
  background: $footer_bg;
  color: $footer_font;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer{
  padding: 20px 0px;
  font-weight: 300;
  line-height: 18px;
  h2{
    line-height: 22px;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom:1px solid white;
    display: inline-block;
    font-weight: 400;
  }
  p{
    font-size: 14px;
    line-height: 18px;
    padding:10px 0px;
    display: block; 
    padding-bottom: 0px;
  }
  .first_column,.second_column{
    width: 400px;
    float:left;
    margin-right: 25px;
  }
  .second_column{
    width: 200px;
  }
  a{
    color:white;
    text-decoration: none;
    &:hover{
      color: $red;
    }
  }
  ul{
    padding:10px 0px;
    padding-bottom: 0px;
    display: block;
    list-style: none;
    li{
    font-size: 14px;
    line-height: 18px;      
    }
  }
  a.social{
    display: inline-block;
    width:32px;
    height: 32px;
    border: none;
    padding: 0;
    margin: 0;
    &:hover{
      border: none;
      padding: 0;
      margin: 0;
    }
    &#facebook{
      background: image-url('social/facebook-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/facebook-red.png') no-repeat;
        border: none;
      }
    }
    &#google-plus{
      background: image-url('social/google-plus-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/google-plus-red.png') no-repeat;
        border: none;
      }
    }
    &#twitter{
      background: image-url('social/twitter-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/twitter-red.png') no-repeat;
        border: none;
      }
    }
    &#pinterest{
      background: image-url('social/pinterest-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/pinterest-red.png') no-repeat;
        border: none;
      }
    }
    &#youtube{
      background: image-url('social/youtube-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/youtube-red.png') no-repeat;
        border: none;
      }
    }
    &#instagram{
      background: image-url('social/instagram-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/instagram-red.png') no-repeat;
        border: none;
      }
    }
  }
  .footer_ending{
    padding: 25px;
    text-align: center;
  }
}

.container{
  width:1170px;
  margin: 0px auto;
  position: relative;
  &.main{
    padding-top: 30px;
  }
}

.clear{
  clear:both;
}

header{
  background: white;
  color: $content_font_color;
  .top_header{
    height: 64px;
    #logo{
      position: absolute;
      left:10px;
      top:20px;
      height: 20px;
    }
    #facebook_count{
      position: absolute;
      left:210px;
      top:20px;
    }
    border-bottom: 1px solid $border_color;
    .right_side_header{
      position: absolute;
      right: 0px;
      top:5px;
      ul.top{
        list-style: none;
        li{
          float:left;
          margin-left: 10px;
          a{
            color:$black;
            text-decoration: none;
            font-size: 12px;
            img{
              height: 12px;
              position: relative;
              top:2px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .header_navigation{
    height: 45px;
    list-style: none;
    border-bottom: 1px solid $border_color;    
    li{
      float:left;
      text-transform: uppercase;
      position: relative;
      a.item{
        font-size: 18px;
        text-decoration: none;
        color: $content_font_color;
        padding: 13px 7px 14px 7px;
        display:block;
        &:hover{
          background: $red;
          color: white;
        }
      }
      &:hover {
        a.item{
          background: $red;
          color: white;
        }
        ul.submenu{
        position: absolute;
        display: block;
        background: white;
        z-index: 2000;
        min-width: 140px;
        }
      }
      ul.submenu{
        display: none;
        border-top: 5px solid $red;
        li{
          display: block;
          a{
            display: block;
            text-decoration: none;
            text-align: left;
            font-size:14px;
            color: $content_font_color;            
            font-weight: normal;
            padding:7px;
            width: 200px;
            &:hover{
              background: $red;
              color: white;
            }            
          }
        }
      }
      &.selected{
        a{
          font-weight: 600;
        }
      }
    }

  }

}

.content{
  background: $content_bg;
  color: $content_font_color;
  h1{
    padding-top:15px;
    text-align: center;
    font-size:30px;
    margin-bottom: 5px;
  }
  h2.subline{
    text-align: center;
    font-weight: normal;
    font-size: 18px;
  }
}
.products{
  margin-left: 324px;
  .pagination{
    text-align: center;
  }
}
.filter{
  width: 274px;
  margin-right: 50px;
  float: left;
  .block_box{
    background: white;
    margin-bottom: 20px;
  }
  h2{
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid $border_color;
    font-weight: 600;
  }
  .category_select{
    ul{
      list-style: none;
      li{
        a{
          display: block;
          padding: 10px;
          border-bottom: 1px solid $border_color;
          color: #999;
          text-decoration: none;
          &:hover{
            color: #2c2c2c;
          }
        }
        ul li a{
          padding-left:20px;
          &.active{
            color: $content_font_color;
          }
        }
        &.active > a{
          color: $content_font_color;
        }
      }
    }
  }
}

.socialbuttons{
  padding:15px;
  h1{
    font-size: 24px;
  }
}

.socialbutton{
  padding: 10px 15px;
  min-width: 300px;
  text-align: center;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  background: $black;
  color: white;
  display: inline-block;
  margin:5px;
  text-decoration: none;
}

.popup_background{
  display: none;
  position: fixed;
  top:0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  background: image-url('dark_glass.png');
  z-index: 1000;
  .popup_container{
    width: 800px;
    margin: 0px auto;
    margin-top: 30px;
    background: white;
    padding: 10px;
    color: $black;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);    
  }
}

#country_select .popup_container{
  font-size:14px;
  font-weight: 400;
  h2{
    font-size: 20px;
    margin-bottom: 5px;
  }
  h3{
    font-size: 16px;
    margin: 15px 0px;
  }
  h4{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
  }
  p{
    line-height: 20px;
    font-size:14px;
  }
  .country_selection{
    display: inline-block;
    img{
      display: inline-block;
      height: 12px;
      margin-right: 5px;
    }
    margin-right: 5px;
    line-height: 20px;
    a{
      color: $black;
      text-decoration: none;
      &:hover{
        color: $red;
      }
    }
  }
}

.love_button{
  position: absolute;
  top:10px;
  right:10px;
  height:20px;
  width: 20px;
  background: image-url("likeoff.png") no-repeat center center;
  cursor: pointer;
  &:hover{
    background: image-url("likeon.png") no-repeat center center;        
  }
  &.likeon{
    background: image-url("likeon.png") no-repeat center center;
  }
}

.button{
  background: $green;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  border: 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 200;
}

span.red{
  color: $red;
}


.trendbox{
  text-align: left;
  h2{
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: 1px solid $border_color;
  }
  padding-bottom: 35px;
}