@import "color";
@import "bourbon";
body{
  background: $footer_bg;
  color: $footer_font;
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 1170px;
}

.s_textblock{
  padding: 25px;
  font-size: 14px;
  background: #ececec;
  color: $black;
  font-weight: 400;
  h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  strong{
    font-weight: 600;
  }
  .center{
    text-align: center;
  }
  p{
    margin-bottom: 5px;
  }
}

.whitebox{
  background: white;
  padding: 25px;
  ul{
    list-style: none;
  }
  a{
    color: $red;
    text-decoration: none;
  }
}

.footer{
  padding: 20px 0px;
  font-weight: 300;
  line-height: 18px;
  h2{
    line-height: 22px;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom:1px solid white;
    display: inline-block;
    font-weight: 400;
  }
  p{
    font-size: 14px;
    line-height: 18px;
    padding:10px 0px;
    display: block; 
    padding-bottom: 0px;
  }
  .first_column,.second_column{
    width: 400px;
    float:left;
    margin-right: 25px;
  }
  .second_column{
    width: 200px;
  }
  a{
    color:white;
    text-decoration: none;
    &:hover{
      color: $red;
    }
  }
  ul{
    padding:10px 0px;
    padding-bottom: 0px;
    display: block;
    list-style: none;
    li{
    font-size: 14px;
    line-height: 18px;      
    }
  }
  a.social{
    display: inline-block;
    width:32px;
    height: 32px;
    border: none;
    padding: 0;
    margin: 0;
    &:hover{
      border: none;
      padding: 0;
      margin: 0;
    }
    &#facebook{
      background: image-url('social/facebook-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/facebook-red.png') no-repeat;
        border: none;
      }
    }
    &#google{
      background: image-url('social/google-plus-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/google-plus-red.png') no-repeat;
        border: none;
      }
    }
    &#twitter{
      background: image-url('social/twitter-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/twitter-red.png') no-repeat;
        border: none;
      }
    }
    &#pinterest{
      background: image-url('social/pinterest-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/pinterest-red.png') no-repeat;
        border: none;
      }
    }
    &#youtube{
      background: image-url('social/youtube-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/youtube-red.png') no-repeat;
        border: none;
      }
    }
    &#instagram{
      background: image-url('social/instagram-white.png') no-repeat;
      border: none;
      &:hover{
        background: image-url('social/instagram-red.png') no-repeat;
        border: none;
      }
    }
  }
  .footer_ending{
    padding: 25px;
    text-align: center;
  }
}

.container{
  width:1170px;
  margin: 0px auto;
  position: relative;
  &.main{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
  }
}

.clear{
  clear:both;
}

header{
  background: white;
  color: $content_font_color;
  .top_header{
    height: 64px;
    #logo{
      position: absolute;
      left:10px;
      top:20px;
      height: 20px;
    }
    #facebook_count{
      position: absolute;
      left:210px;
      top:20px;
    }
    border-bottom: 1px solid $border_color;
    .right_side_header{
      float:right;
      height: 65px;
      ul.top{
        float:right;
        list-style: none;
        li{
          float:left;
          margin-left: 10px;
          a{
            color:$black;
            text-decoration: none;
            font-size: 12px;
            img{
              height: 12px;
              position: relative;
              top:2px;
              margin-right: 5px;
            }
          }
        }
      }
      .bottom{
        float:right;
        padding-top: 15px;
        .header_navigation{
          border-bottom: none;
          li{
            a{
              &:hover{
                background: none;
                color: $red;
              }
            }
            &.last a{
                padding-right: 0px;
              }
          }
        }
      }
    }
  }
  .header_navigation{
    height: 45px;
    list-style: none;
    border-bottom: 1px solid $border_color;    
    li{
      float:left;
      text-transform: uppercase;
      position: relative;
      a.item{
        font-size: 18px;
        text-decoration: none;
        color: $content_font_color;
        padding: 13px 7px 14px 7px;
        display:block;
        &:hover{
          background: $red;
          color: white;
        }
      }
      &:hover {
        a.item{
          background: $red;
          color: white;
        }
        ul.submenu{
        position: absolute;
        display: block;
        background: white;
        z-index: 2000;
        min-width: 140px;
        }
        ul.outfit_submenu{
          display: block;
        }
      }
      ul.submenu{
        display: none;
        border-top: 5px solid $red;
        li{
          display: block;
          a{
            display: block;
            text-decoration: none;
            text-align: left;
            font-size:14px;
            color: $content_font_color;            
            font-weight: normal;
            padding:7px;
            width: 200px;
            &:hover{
              background: $red;
              color: white;
            }            
          }
        }
      }
      &.selected{
        & > a{
          font-weight: 600;
        }
      }
    }

  }

}

body > .content{
  width: 100%;
}

.content{
  background: $content_bg;
  color: $content_font_color;
  h1{
    padding-top:15px;
    text-align: center;
    font-size:30px;
    margin-bottom: 5px;
  }
  h2.subline{
    text-align: center;
    font-weight: normal;
    font-size: 18px;
  }
}


.filter, .navigation{
  width: 274px;
  margin-right: 50px;
  float: left;
  select{
    border: 1px solid $border_color;
    width: 100%;
    font-size: 16px;
  }
  .block_box{
    background: white;
    margin-bottom: 20px;
  }
  h2{
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid $border_color;
    font-weight: 600;
  }
  .category_select, .navigation_select{
    ul{
      list-style: none;
      li{
        a{
          display: block;
          padding: 10px;
          border-bottom: 1px solid $border_color;
          color: #999;
          text-decoration: none;
          &:hover{
            color: #2c2c2c;
          }
        }
        ul li a{
          padding-left:20px;
          &.active{
            color: $content_font_color;
          }
        }
        &.active > a{
          color: $content_font_color;
        }
        &.bold > a{
          font-weight: bold;
          color: $content_font_color;
        }
      }
    }
  }
  .color_filter{
    a{
      display: inline-block;
      height: 32px;
      width: 32px;
      cursor:ponter;
      border: 1px solid $border_color;
      &:hover, &.active{
        border: 1px solid $red;
      }
    }
    .inner{
      padding: 9px;
      width: 245px;
      text-align: center;
      margin:0;
    }
  }
}

.socialbuttons{
  padding:15px;
  h1{
    font-size: 24px;
  }
}

.socialbutton{
  padding: 10px 15px;
  min-width: 300px;
  text-align: center;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  background: $black;
  color: white;
  display: inline-block;
  margin:5px;
  text-decoration: none;
}

.popup_background{
  display: none;
  position: fixed;
  top:0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  background: image-url('dark_glass.png');
  z-index: 1000;
  .popup_container{
    width: 800px;
    margin: 0px auto;
    margin-top: 30px;
    background: white;
    padding: 10px;
    color: $black;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);    
  }
}

#country_select .popup_container{
  font-size:14px;
  font-weight: 400;
  h2{
    font-size: 20px;
    margin-bottom: 5px;
  }
  h3{
    font-size: 16px;
    margin: 15px 0px;
  }
  h4{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
  }
  p{
    line-height: 20px;
    font-size:14px;
  }
  .country_selection{
    display: inline-block;
    img{
      display: inline-block;
      height: 12px;
      margin-right: 5px;
    }
    margin-right: 5px;
    line-height: 20px;
    a{
      color: $black;
      text-decoration: none;
      &:hover{
        color: $red;
      }
    }
  }
}

.love_button{
  position: absolute;
  top:10px;
  right:10px;
  height:20px;
  width: 20px;
  background: image-url("likeoff.png") no-repeat center center;
  cursor: pointer;
  &:hover{
    background: image-url("likeon.png") no-repeat center center;        
  }
  &.likeon{
    background: image-url("likeon.png") no-repeat center center;
  }
}

.button{
  background: $green;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  border: 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
}

span.red{
  color: $red;
}


.trendbox{
  text-align: left;
  h2{
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: 1px solid $border_color;
    margin-bottom: 20px;
  }
  padding-bottom: 35px;
}

 select{
    border: 1px solid $border_color;
    font-size: 16px;
    height: 24px;
}

.white_content{
  padding: 25px 15px;
  background: white;
  .center{
    text-align: center
  }
}

.white_box{
  background: white;
  padding: 25px 15px;
}

.pagination_options{
  margin-left: 324px;
  margin-bottom: 30px;
  select{
    height: 36px;
    margin-left: 5px;
    margin-right: 25px
  }
}

.pagination{
  height: 35px;
  padding-bottom: 35px;
  span{
    background: $red;
    color: white;
    position: relative;;
    display: inline-block;
    padding: 0px;
    margin: 0;
    margin-right: -3px;
    font-size: 18px;
    font-weight: 400;
    a{
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 10px;
      &:hover{
        color: $black;
      }
    }
  }
  .page{
    padding: 0;
    background: white;
    color: black;
    &.current{
      padding: 10px;
      color: $red;
    }
    &.gap{
      padding: 10px;
    }
    a{
      background: white;
      color: black;
      padding: 10px;
      &:hover{
        color: $red;
      }
    }
  }
}

.formular{
  input[type='text'], input[type='password'], input[type='email'], textarea{
    width: 100%;
    display: block;
    padding: 8px 5px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid $border_color;
    &.error{
      border: 1px solid $red;
    }
  }
  .button{
    display: block;
    width: 100%;
    padding: 15px 5px;
    margin: 25px 0px;
    font-size: 16px;
  }
  #error_explanation{
    background: $red;
    margin: 5px 0px;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    h2{
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
    }
    ul{
      list-style: none;
      font-weight: 300;
    }
  }
  .label{
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
  }
  span.info{
    font-weight: 400;
    color: darken($blue, 50%);
    font-size: 12px;
  }
  p{
    margin-bottom: 20px;
  }
}

.devise{
  margin-bottom: 55px;
  position: relative;
  h1{
    font-weight: normal;
    color: $grey;
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
  }
  a{
    color: $red;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .top_left{
      position: absolute;
      top:15px;
      right: 35px;
      font-size: 14px;
      a{
        color: $red;
      }
      span{
        margin-right: 5px; 
      }
    }

  .left{
    float:left;
    width: 350px;
    padding-right: 55px;
  }


  .right{
    margin-left: 405px;
    position: relative;
    padding-left: 25px;
    .seperator{
      position: absolute;
      top:0px;
      bottom:0px;
      left: 3px;
      border-left: 1px solid $border_color;
      span{
        position: absolute;
        display: block;
        background: white;
        left: -16px;
        top: 88px;
        padding: 5px;
        font-size: 12px;
        text-transform: lowercase;
      }
    }
    .socialbuttons{
      padding-top: 49px;
    }
    .socialbutton{      
      height: 36px;
      float:left;
      display: block;
      padding: 0px;
      padding-left: 85px;
      padding-right: 15px;
      padding-top: 15px;
      font-size: 18px;
      color: white;
      text-align: right;
      min-width: initial;
      width: 200px;
      margin-left: 35px;
      margin-bottom: 15px;
      &:hover{
        text-decoration: none;
    box-shadow: 1px 1px 5px #888888;

      }
      &.facebook{
        background: #2a80b9 image-url('social/button_facebook.jpg') no-repeat;
      }
      &.twitter{
        background: #3598db image-url('social/button_twitter.jpg') no-repeat;
      }
      &.tumblr{
        background: #2c4762 image-url('social/button_tumblr.png') no-repeat;
      }
      &.pinterest{
        background: #cb2028 image-url('social/button_pinterest.jpg') no-repeat;
      }
      &.google_oauth2{
        background: #e84c3d image-url('social/button_google.jpg') no-repeat;
      }      
    }
  }
}

.flash{
  margin-bottom: 25px;
  text-align: center;
  padding: 8px;
  display: block;
  &.alert{
    background: $red;
    color: white;
  }
  &.notice{
    background: $green;
    color: white;
  }
}