.collection{
  position: relative;
  float: left;
  text-align: center;
  width: 272px;
  margin: 0px 5px;
  margin-bottom: 35px;
  .image_container{
    width: 272px;
    height: 215px;
    background: white;
    img{
      border:0px;
      display: none;
      &.spinner{
        display: block;
        position: absolute;
        left: 120px;
        top: 92px;
      }
      &.image{
        display: inline-block;
        width: 272px;        
      }
    }
  }
  a{
    display: block;
    span{
      position: absolute;
      bottom:0px;
      left:0px;
      right: 0px;
      background: image-url('dark_glass.png');
      display: block;
      color: white;
      padding: 5px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.4s, opacity 0.4s linear;       
    }
    &:hover{
      span{
        visibility: visible;
        opacity: 1;
        transition: opacity 0.4s linear;
        }
    }
  }
  h3{
    font-size: 16px;
    font-weight: 600;
    padding:3px;
  }
  h4{
    font-size: 14px;
    font-weight: 300;
    padding:3px; 
    a{
      display: inline-block;
      text-decoration: none;
      color: $red;
      &:hover{
        text-decoration: underline;
      }
    }   
  }
}

.collection_show{
  h2{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 1px solid $border_color;
    padding-bottom: 20px;
  }     
  .leftside{
    width: 570px;
    float:left;
    margin-right: 10px;
    position: relative;
    .titleize{
      width: 535px;
    }
  }
  .productviews{
    margin-left: 600px; 
    margin-right: 0px;
    width: 570px;
  }
  .myshare{
    background: white;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    border-top: 1px solid $border_color;
    span{
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      display: block;
      margin-bottom: 4px;
    }
    .button{
      float:right;
    }
    h3{
      margin: 15px 0px
    }
    textarea#codeshare{
      border:1px solid $border_color;
      width:518px;
      height:80px;
      padding:10px;
    }
  }
  .details, .commenting_box, .comment{
    background: white;
    margin-top: 20px;
    position: relative;
    padding: 15px;
    padding-top: 18px;
    a{
      color:$red;
      text-decoration: none;
    }
    img{
      float:left;
    }
    .inner{
      margin-left: 140px;
      font-size: 14px;
      h3{
        margin-bottom: 10px;
      }
      .description{
        margin-top: 10px;
      }
    }
    textarea{
      margin-top:15px;
      width: 448px;
      height: 80px;
      font-size: 12px;
    }
  }
  .comment{
    img{
      margin-top: 10px;
    }
    .inner{
      margin-left: 80px;
    }
    .action_buttons{
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 12px;
    }
    .comment_form_box, .comment_edit_cancel{
      display: none;
    }
  }
}

.image_wrapper{
  width: 566px;
  height: 442px;
  background: white;
  position: relative;
  img{
    border:0px;
    display: none;
    &.spinner{
      display: block;
      position: absolute;
      left: 267px;
      top: 205px;
    }
    &.image{
      display: inline-block;
    }
  }
}

.collections{
  margin-left: 324px;
  .pagination{
    text-align: center;
  }
}