.collection{
  position: relative;
  float: left;
  text-align: center;
  width: 272px;
  margin: 0px 5px;
  margin-bottom: 35px;
  img{
    width: 272px;
  }
  a{
    display: block;
    span{
      position: absolute;
      bottom:0px;
      left:0px;
      right: 0px;
      background: image-url('dark_glass.png');
      display: block;
      color: white;
      padding: 5px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.4s, opacity 0.4s linear;       
    }
    &:hover{
      span{
        visibility: visible;
        opacity: 1;
        transition: opacity 0.4s linear;
        }
    }
  }
}

.collection_show{
  h2{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 1px solid $border_color;
    padding-bottom: 20px;
  }     
  .leftside{
    width: 570px;
    float:left;
    margin-right: 10px;
    position: relative; 
  }
  .productviews{
    margin-left: 600px; 
  }
}