// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry_show{
  img{
    max-width: 530px !important;
    height: auto !important
  }
  p{
    margin-bottom: 20px;
  }
  a{
    color: $red;
    text-decoration: none;
  }
}