@import "color";
.product{
  float:left;
  margin: 5px;
  text-align: center;
  width: 272px;
  height: 400px;
  margin: 0px 5px;
  margin-bottom: 35px;
  .image_container{
    height: 325px;
    width: 272px;
    background: white;
    position: relative;
    img{
      border:0px;
      display: none;
      &.spinner{
        display: block;
        position: absolute;
        left: 120px;
        top: 147px;
      }
      &.image{
        display: inline-block;
        position: relative;
        bottom: -15px;
        display: block;
        max-width: 240px;
        max-height: 300px;
        margin:0px auto;
        margin-bottom: 5px;
      }
    }
  }
  
  h3{
    padding: 5px;
    a{
      color:$black;
      text-decoration: none;
      font-weight: normal;
    }
  }
  h4{
    color: $red;
  }
}

.product_show{
  .image_container{
    width: 550px;
    min-height: 650px;
    img{
      border:0px;
      display: none;
      &.spinner{
        display: block;
        position: absolute;
        left: 259px;
        top: 309px;
      }
      &.image{
        display: inline-block;
      }
    }
    text-align: center;
    float:left;
    position: relative;
    background: white;
  }
  .information_area{
    margin-left: 50px;
    text-align: left;
    float: left;
    width: 570px;
    .breadcrumb{
      color: $grey;
      text-transform: uppercase;
      border-bottom: 1px solid $border_color;
      padding-bottom: 25px;
      font-size: 16px;
      font-weight: 300;
      a{
        color: $grey;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .top_info{
      padding-bottom: 30px;
      border-bottom: 1px solid $border_color;
      h1{
        text-align: left;
        font-size: 34px;
        text-transform: uppercase;
        margin: 25px 0px 15px 0px
      }
      .ratable{
        .star{
          float:left;
          margin-right:  15px;
        }
        color: $grey;
        font-weight: 300;
        strong{
          font-weight: 400;
        }
      }
      .rate_text{
        float:left;
      }
    }
    .price_info{
      position: relative;
      font-size: 24px;
      padding: 10px 0px;
      border-bottom: 1px solid $border_color;
      height: 47px;
      span.red{
        color: $red;
        font-weight: 600;
      }
      span, img{
        vertical-align: middle;
        display: inline-block;
      }
      span{
        position: relative;
        top: 5px;
        margin-right: 10px;
      }
      img{
        cursor: pointer;
      }
      .button{
        position: absolute;
        right: 45px;
        top: 10px;
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;
        cursor: pointer;
      }
    }
    .specials, .description{
      padding: 25px 0px;
      border-bottom: 1px solid $border_color;
      ul{
        padding-left:20px;
        text-indent:2px;
        list-style: none;
        list-style-position:outside;
        li:before{
          content: '✓';  
          font-weight: 200;
          margin-left: -10px; 
          margin-right: 15px;
        }
        li{
          font-weight: 600;
        }
      }
      a{
        color: red;
      }
    }
  }
}

.products{
  margin-left: 324px;
  .pagination{
    text-align: center;
  }
}

.similar{
  padding: 45px 0px;
  h2{
      border-bottom: 1px solid $border_color;
      padding-bottom: 25px;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 15px;
  }
}

.small_product{
  background: white;
  display: block;
  width:100%;
  margin-bottom: 20px;
  padding: 15px;
  height: 260px;
  .myimage{
    width:200px;
    height:250px;
    background: white;
    text-align:center;
    float:left;
    margin-right: 15px;
    position: relative;
    img{
      border:0px;
      display: none;
      &.spinner{
        display: block;
        position: absolute;
        left: 84px;
        top: 109px;
      }
      &.image{
        width: auto;
        height: auto;
        display: inline-block;
      }
    }


  }
  .product_info{
    margin-left: 235px;
    width: 300px;
    .star{
      height: 20px;
    }
    .affilogo{
      height:22px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    h4{
      max-height:60px;
      margin-bottom: 20px;
      font-weight: normal;
    }
    h5,h6{
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      margin-bottom: 5px;
    }
    h6{
      font-weight: 600;
      margin-bottom: 3px;
    }
    .button{
      display: block;
      width: 100%;
    }
    strong{
      a{
        margin-top: 10px;
        color: $black;
        background: $border_color;
        text-decoration: none;
        display: block;
        padding: 5px;
        text-align: center;
        &:hover{
          background: $red;
          color: white;
        }
      }
    }
  }
  .clear{
    padding:0;
    margin: 0;
  }
}