@import "color";
.product{
  float:left;
  margin: 5px;
  text-align: center;
  width: 272px;
  height: 400px;
  margin: 0px 5px;
  margin-bottom: 35px;
  .image_container{
    height: 325px;
    width: 272px;
    background: white;
    position: relative;
    .product_image{
      position: relative;
      bottom: -15px;
      display: block;
      max-width: 240px;
      max-height: 300px;
      margin:0px auto;
      margin-bottom: 5px;
    }
    .love_button{
      position: absolute;
      top:10px;
      right:10px;
      height:20px;
      width: 20px;
      background: image-url("likeoff.png") no-repeat center center;
      cursor: pointer;
      &:hover{
        background: image-url("likeon.png") no-repeat center center;        
      }
      &.likeon{
        background: image-url("likeon.png") no-repeat center center;
        &:hover{
          background: image-url("likeoff.png") no-repeat center center;        
        }

      }
    }
  }
  
  h3{
    padding: 5px;
    a{
      color:$black;
      text-decoration: none;
      font-weight: normal;
    }
  }
  h4{
    color: $red;
  }
}