@import "color";

.shop{
  .sidebar{
    float:left;
  }
  .block{
    margin-left: 200px;
    font-size: 12px;
  }
}

.listing{
  font-size: 12px;
  .small{
    img{
      height: 12px;
    }
  }
  tr td a{
    color: $red;
    text-decoration: none;
  }
  width: 100%;
  tr{
    th{
      text-align: left;
      background: $grey;
      color: white;
      padding: 10px;
    }
    td{
      min-width: 150px;
      padding: 10px;
    }
    .list_action{
        text-align: right;
    }
    &.inside{
      background: $content_bg;
      &:nth-child(odd){
        background: white;
      }
    }
  }
}

.shopwrapper{
  float:left;
  width: 170px;
  .logo_container{
    background: white;
    text-align: center;
    height:40px;
    padding: 25px 10px;
    text-align: center;
    position: relative;
    a{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img{
      max-width: 140px;
      max-height: 40px;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .detail_link{
    display: block;
    text-align: center;
    background: #404040;
    color: white;
    text-decoration: none;
    padding:3px;
    font-size: 14px;
  }
}

.shops_banners{
  .shopwrapper{
    margin-right: 22px;
    &:last-child{
      margin:0px;
    }
  }
}