// Place all the styles related to the styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_style{
  position: relative;
  .design_canvas{
    border: 1px solid #ccc;
    position: absolute;
    left:0;
    top:0px;
    width:800px;
    height: 500px;
    display: block;
    .area{
      border: 1px solid #ccc;
      margin:30px;
      width:100%;
      height:100%;
    }
  }
  .designer_sidebar{
    position: absolute;
    bottom: 0;
    top: 0;
    width: 372px;
    right: 0px;
    .main_category_select{
      font-size: 11px;
      list-style: none;
      li{ 
        float:left;
        overflow: hidden;
        text-align: center;
        margin-right:4px;
        margin-bottom: 4px;
        a{
          width:60px;
          border: 1px solid #3c3c3c;
          display: block;
          height: 40px;
          color: #333;
          text-decoration: none;
          &:hover{
            color: #c00;
          }
        }
      }
    }
  }
}

.products_select_area{
  padding-left:50px;
  width: 330px;
  .preview{
    width:60px;
    height:100px;
    padding:5px 15px;
    text-align: center;
  }
}

.style_filter{
  width: 370px;
  float:left;
  padding-left: 40px;
}

.selectform{
  display: block;
  border: 1px solid #3c3c3c;
  float:left;
  margin-right: 5px;
  padding:2px 5px; 
  height:14px;
  position: relative;
  cursor: pointer;
  &:after {
    clear: both;
    display: block;
    position: absolute;
    top: 14px;
    right: 12px;
    content: "";
    height: 0;
    width: 0;
    padding: 0;
    margin: -8px;
    border: 8px solid transparent;
    border-top-color: #c00;
  }
  .selectable{
    display: none;
    position: absolute;
    left:-1px;
    border: 1px solid #3c3c3c;
    background: white;
    list-style: none;
    padding: 0;
    li{
      padding: 2px 5px;
      font-size: 12px;
      &:hover{
        background: #ccc;
        cursor: pointer;
      }
    }
  }
  &#subcategory_select{
    width:88px;
    .selectable{
      width:98px;
    }
  }
  &#brand_select{
    width: 80px;
    .selectable{
      width:90px;
    }
  }
  &#color_select{
    width: 50px;
    .selectable{
      width:60px;
    }
  }
  &#price_select{
    width: 50px;
    .selectable{
      width:60px;
    }
  }
}
.ui-state-disabled{
  opacity: 1;
}

.ui-resizable-se{
 width: 7px;
 height: 7px;
 background-color: #D0F2F0;
 border-color:#45C1B1;
 border-style:solid;
 border-width:1px;
 bottom:0px;
 right:0px;
}

.ui-resizable-sw{
 width: 7px;
 height: 7px;
 background-color: #D0F2F0;
 border-color:#45C1B1;
 border-style:solid;
 border-width:1px;
 bottom:0px;
 left:0px;
}
.ui-resizable-nw{
 width: 7px;
 height: 7px;
 background-color: #D0F2F0;
 border-color:#45C1B1;
 border-style:solid;
 border-width:1px;
 top:0px;
 left:0px;
}
.ui-resizable-ne{
 width: 7px;
 height: 7px;
 background-color: #D0F2F0;
 border-color:#45C1B1;
 border-style:solid;
 border-width:1px;
 top:0px;
 right:0px;
}