<a target="_blank" href="<%= options[:url] %>" class="<%= options[:button_name] %>"><%=image_tag "social/share-#{options[:button_name]}.png", title: options[:button_caption], alt: options[:button_caption] %></a>
