<div class="detail_wrapper product_overview_item">
  <div class="row">
    <%= render @products %>
    <div class="small-12">
    </div>
  </div>

<div class="large-12 pagination_wrapper columns" style="text-align:center">

  <%= paginate @products %>
</div>
</div>