<%= render 'products/filter' %>
<div class="products" ng-controller="FavoriteController">
  <%= render @products %>
  <div class="clear"></div>  
  <%= paginate @products %>
</div>
<div class="clear"></div>